altair==5.5.0
annotated-types==0.7.0
argcomplete==3.5.0
attrs==24.3.0
Automat==24.8.1
babel==2.17.0
backrefs==5.8
blinker==1.9.0
branca==0.8.1
briefer==0.0.13
cachetools==5.5.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.1.1
colorama==0.4.6
configparser==7.1.0
constantly==23.10.4
contourpy==1.3.1
coverage==7.6.10
coveralls==4.0.1
cryptography==44.0.0
cycler==0.12.1
dacite==1.9.2
docker==7.1.0
docopt==0.6.2
folium==0.19.5
fonttools==4.56.0
future==1.0.0
genson==1.3.0
ghp-import==2.1.0
gitdb==4.0.12
GitPython==3.1.44
htmlmin==0.1.12
hyperlink==21.0.0
hypothesis==6.124.1
idna==3.10
ImageHash==4.3.1
incremental==24.7.2
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.1.1
jsonpickle==4.0.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
llvmlite==0.44.0
Markdown==3.8
MarkupSafe==2.1.5
matplotlib==3.10.0
mergedeep==1.3.4
missingno==0.5.2
mkdocs==1.6.1
mkdocs-get-deps==0.2.0
mkdocs-material==9.6.11
mkdocs-material-extensions==1.3.1
mock==5.1.0
multimethod==1.12
narwhals==1.34.1
networks==0.3.7
networkx==3.4.2
ngrok==1.4.0
nltk==3.9.1
numba==0.61.0
numpy==2.1.3
packaging==24.1
paginate==0.5.7
pandas==2.2.3
pathspec==0.12.1
patsy==1.0.1
phik==0.12.4
pillow==11.1.0
pipx==1.7.1
platformdirs==4.3.6
pluggy==1.5.0
protobuf==5.29.4
puremagic==1.28
pyarrow==19.0.0
pycparser==2.22
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
Pygments==2.19.1
pymdown-extensions==10.14.3
pyOpenSSL==25.0.0
pyparsing==3.2.1
pytest==8.3.4
pytest-cov==6.0.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyWavelets==1.8.0
pywin32==306
PyYAML==6.0.2
pyyaml_env_tag==0.1
referencing==0.36.1
regex==2024.11.6
requests==2.32.3
rpds-py==0.22.3
scikit-learn==1.6.1
scipy==1.15.1
seaborn==0.13.2
setuptools==75.8.0
simplejson==3.19.3
six==1.17.0
smmap==5.0.2
sortedcontainers==2.4.0
sqlparse==0.5.3
statsmodels==0.14.4
streamlit==1.44.1
streamlit_folium==0.24.0
tabpy==2.13.0
tangled-up-in-unicode==0.2.0
tenacity==9.1.2
textblob==0.19.0
threadpoolctl==3.5.0
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
Twisted==24.11.0
typeguard==4.4.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
userpath==1.9.2
visions==0.8.1
watchdog==6.0.0
Werkzeug==3.1.3
wordcloud==1.9.4
xyzservices==2025.1.0
ydata-profiling==4.15.0
zope.interface==7.2
